services:
  postgres:
    image: ${POSTGRES_IMAGE}
    container_name: ${CONTAINER_NAME}
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: always
    networks:
      - agenda-network

networks:
  agenda-network:
    driver: bridge

volumes:
  pgdata: